{% extends 'layout.html' %}
{% include "includes/_navbar_landing.html" %}
{% block body %}

<section class="about m-0 p-0 gap-2">
    <div class="d-flex justify-content-center gap-5">
        <section class="image" data-aos="zoom in" data-aos-duration="3000">
            <div class="blob-content">
                <img src="../static/img/blob/ferdy.png" alt="image here" style="height: 400px; top: 0;">
            </div>

            <svg class="blob-motion" id="visual" viewBox="0 0 900 600" width="1200" height="700" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                <g transform="translate(396.89625690679975 328.3781976496679)">
                    <path id="blob-1"
                        d="M190.4 -189.8C239.4 -141.4 266.7 -70.7 264.7 -2C262.7 66.7 231.4 133.4 182.4 166.7C133.4 200.1 66.7 200 12.7 187.3C-41.2 174.6 -82.5 149.2 -112.5 115.8C-142.5 82.5 -161.2 41.2 -158.3 2.9C-155.4 -35.4 -130.7 -70.7 -100.7 -119C-70.7 -167.4 -35.4 -228.7 17.7 -246.4C70.7 -264 141.4 -238.1 190.4 -189.8"
                        fill="#997AF1"></path>
                </g>
                <g transform="translate(509.54377535978017 281.49390864595887)" style="visibility: hidden">
                    <path id="blob-2"
                        d="M115.4 -137.9C137.9 -92.9 136.4 -46.4 133.6 -2.8C130.8 40.8 126.6 81.6 104.1 118.4C81.6 155.2 40.8 188.1 -8.4 196.5C-57.5 204.8 -115 188.7 -151 151.9C-187 115 -201.5 57.5 -190.8 10.7C-180.1 -36.1 -144.1 -72.1 -108.1 -117.1C-72.1 -162.1 -36.1 -216.1 5.2 -221.2C46.4 -226.4 92.9 -182.9 115.4 -137.9"
                        fill="#BB004B"></path>
                </g>
            </svg>
        </section>
        <section class="text-content m-5 p-5" data-aos="fade up" data-aos-duration="3000">
            <div class="about-title text-center text-hero-bold">
                Data Diri
            </div>
            <table class="table table-borderless" style="margin: 5rem 0 0 0; border: 0 ;">
                <tbody>
                    <tr>
                        <th>Nama</th>
                        <td>Mochamad Ferdy Fauzan</td>
                    </tr>
                    <tr>
                        <th>NIM</th>
                        <td>211524049</td>
                    </tr>
                    <tr>
                        <th>Kelas</th>
                        <td>3B - D4 TI</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</section>

{% endblock %}