{% extends "layout.html" %} {% block body %}
{% include "includes/_sidebar.html" %}
<!-- start: Main -->
<main class="bg-light ">
    <div class="p-2">
        
        {% include "includes/_navbar.html" %}

        <!-- start: Content -->
        <div class="py-4">
            <!-- start: Image -->
            <div class="row g-3 mt-2">
                <div class="col-12 col-md-6 col-xl-6">
                    <div class="card border-0 shadow-sm h-100">
                        <div class="card-header bg-white text-center">
                            <b>Image</b>
                        </div>
                        <div class="card-body d-flex justify-content-center">
                            <img class="img-fluid" src="../static/img/img_normal.jpg" alt="image here">
                        </div>
                        <div class="card-footer">
                            Image Dimension: {{ image_dim[0] }} x {{ image_dim[1] }}
                          </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-6">
                    <div class="card border-0 shadow-sm h-100">
                        <div class="card border-0 shadow-sm h-100">
                            <div class="card-header bg-white text-center">
                                <b>RGB Table</b>
                            </div>
                            <div class="card-body d-flex justify-content-center">
                                <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
                                    <table class="table" style="text-align: center ;" id="customers">
                                        <tr>
                                            <th style="width: 100%;">Pixel</th>
                                            <th>R</th>
                                            <th>G</th>
                                            <th>B</th>
                                        </tr>
                                        {% for i in range(image_dim[0] * image_dim[1]) %}
                                        <tr>
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ img_rgb_val[i][0] }}</td>
                                            <td>{{ img_rgb_val[i][1] }}</td>
                                            <td>{{ img_rgb_val[i][2] }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: Image -->


        </div>
        <!-- end: Content -->
    </div>
</main>
<!-- end: Main -->
{% endblock %}

